<section class="application-request">
    <div class="container">
        <div class="application-container">
            <div class="application-header">
                <h2 class="title-h2">Оставьте заявку</h2>
                <span class="application-text">Оставьте заявку, наш специалист свяжется с вами для уточнения <br>
                    запроса и подберет упаковку подходящую для вашего бизнеса
                </span>
            </div>
            <div class="application-form">
                <form action="#" class="order-form" data-clear="true">
                    <div class="form-column">
                        <div class="wrap-input">
                            <input type="text" placeholder="Имя" name="form[name]" data-required="true">
                        </div>
                        <div class="wrap-input">
                            <input type="tel" placeholder="Телефон" name="form[phone]" data-required="true"
                                inputmode="text">
                        </div>
                        <div class="wrap-input">
                            <input type="email" placeholder="E-mail" name="form[email]" data-required="true">
                        </div>
                        <div class="wrap-input">
                            <input type="text" placeholder="Город" name="form[city]" data-required="true">
                        </div>
                        <div class="wrap-input">
                            <select name="">
                                <option value="Тип упаковки по отрасли">Тип упаковки по отрасли</option>

                                <option value="Тип упаковки по отрасли">тип упаковки 1</option>

                                <option value="Тип упаковки по отрасли">тип упаковки 2</option>

                                <option value="Тип упаковки по отрасли">тип упаковки 33</option>
                            </select>
                        </div>
                        <!-- еще 4 шт -->
                    </div>
                    <div class="form-column">
                        <div class="wrap-input-textarea">
                            <textarea name="form[comment]" placeholder="Сообщение" data-required="true"></textarea>
                        </div>
                        <div class="form-button-container">
                            <label class="form-order-checkbox">
                                Согласен на обработку персональных данных в соответствии с <a href="#"
                                    rel="nofollow">Политикой конфиденциальности</a>
                            </label>
                            <button type="submit" class="form-order-submit  main-btn animButton --blue"
                                data-content="Отправить">Отправить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>