<section class="cardboard">
    <div class="container">
        <div class="cardboard-wrap">
            <div class="cardboard-title title-h2">Технологии производства<br>
                тарного картона</div>

            <div class="cardboard-list">
                <div class="cardboard-item card-cardboard anim-items anim-no-scrollTop slideTo">
                    <div class="card-cardboard-row">
                        <div class="card-cardboard-column">
                            <div class="card-cardboard-image"><img src="./img/image-card-cardboard-1.png" alt=""></div>
                        </div>

                        <div class="card-cardboard-column">
                            <div class="card-cardboard-name">Картон для плоских слоев</div>
                            <div class="card-cardboard-text">
                                <p>Этот вид картона используется в составе гофрированного картона в качестве верхнего,
                                    нижнего и промежуточного слоев. Он обеспечивает прочность, жесткость и требуемый
                                    внешний вид гофрокартона и тары из него.
                                </p>
                                <p>GEOPACK производит одно- и двухслойный картон для плоских слоев массой от 100 до 200
                                    г/м2, в том числе и крашенный картон топ-лайнер массой от 90 до 200 г/м2.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cardboard-item card-cardboard anim-items anim-no-scrollTop slideTo">
                    <div class="card-cardboard-row">
                        <div class="card-cardboard-column">
                            <div class="card-cardboard-image"><img src="./img/image-card-cardboard-2.png" alt=""></div>
                        </div>

                        <div class="card-cardboard-column">
                            <div class="card-cardboard-name">Бумага для гофрирования</div>
                            <div class="card-cardboard-text">
                                <p>Данный компонент гофрированного картона предназначен для пространственного соединения
                                    плоских слоев и обеспечивает требуемый уровень толщины, амортизационных свойств и
                                    жесткости гофрокартона и тары из него.
                                </p>
                                <p>Компания ОБФ производит бумагу для гофрирования марок Medium и Medium HP массой от 80
                                    до 200 г/м2.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>