<section class="catalog">
    <div class="container">
        <div class="catalog-wrap">

            <div class="catalog-list">
                <div class="catalog-card anim-items anim-no-scrollTop slideTo">
                    <div class="catalog-card-title">Гофроупаковка</div>

                    <div class="catalog-card-list">
                        <a href="#" class="catalog-card-item">
                            <div class="catalog-card-image"><img src="./img/image-card-catalog-1.png" alt=""></div>
                            <div class="catalog-card-name"><span>Кондитерские изделия</span></div>
                        </a>

                        <a href="#" class="catalog-card-item">
                            <div class="catalog-card-image"><img src="./img/image-card-catalog-2.png" alt=""></div>
                            <div class="catalog-card-name"><span>Канцелярские товары</span></div>
                        </a>

                        <a href="#" class="catalog-card-item">
                            <div class="catalog-card-image"><img src="./img/image-card-catalog-3.png" alt=""></div>
                            <div class="catalog-card-name"><span>Косметика</span></div>
                        </a>

                        <a href="#" class="catalog-card-item">
                            <div class="catalog-card-image"><img src="./img/image-card-catalog-4.png" alt=""></div>
                            <div class="catalog-card-name"><span>Мясная и молочная продукция</span></div>
                        </a>

                        <a href="#" class="catalog-card-item">
                            <div class="catalog-card-image"><img src="./img/image-card-catalog-5.png" alt=""></div>
                            <div class="catalog-card-name"><span>Интернет торговля</span></div>
                        </a>

                        <a href="#" class="catalog-card-item">
                            <div class="catalog-card-image"><img src="./img/image-card-catalog-6.png" alt=""></div>
                            <div class="catalog-card-name"><span>Любые другие товары</span></div>
                        </a>
                    </div>

                    <div class="catalog-card-button-wrap">
                        <a href="#" class="catalog-card-button main-btn animButton --blue"
                            data-content="Перейти в каталог с отраслевым разделением">Перейти в каталог с отраслевым
                            разделением</a>
                    </div>

                </div>

                <div class="catalog-card anim-items anim-no-scrollTop slideTo">
                    <div class="catalog-card-title">Ролевая продукция</div>

                    <div class="catalog-card-list">
                        <a href="#" class="catalog-card-item">
                            <div class="catalog-card-image"><img src="./img/image-card-catalog-7.png" alt=""></div>
                            <div class="catalog-card-name"><span>Картон для плоских слоев</span></div>
                        </a>

                        <a href="#" class="catalog-card-item">
                            <div class="catalog-card-image"><img src="./img/image-card-catalog-8.png" alt=""></div>
                            <div class="catalog-card-name"><span>Бумага для гофрирования</span></div>
                        </a>
                    </div>

                    <div class="catalog-card-text">
                        <ul class="list-check">
                            <li>Все марки гофрированного картона</li>
                            <li>Высокая скорость и качество переработки</li>
                            <li>Широкий спектр применения в упаковочных решениях</li>
                            <li>Минимальные отклонения показателей качества</li>
                            <li>Высокое качество печати</li>
                        </ul>

                        <p>
                            Наша продукция соответствует единым санитарно эпидемиологическим и гигиеническим требованиям
                            Таможенного союза и обладает конкурентной ценой на рынке в России и за рубежом.
                        </p>
                    </div>

                    <div class="catalog-card-button-wrap">
                        <a href="#" class="catalog-card-button main-btn animButton --blue"
                            data-content="Перейти в каталог с тарным картоном">Перейти в каталог с тарным картоном</a>
                    </div>
                </div>
            </div>

            <a href="./img/тест.pdf" class="catalog-download" download>
                <span>Скачать каталог Fefco для гофроупаковки</span>
            </a>
        </div>
    </div>
</section>