<section class="certification grid-main">
    <div class="container">
        <div class="certification-container">
            <div class="sertificates">
                <h2 class="title-h2">
                    Сертификация
                </h2>
                <div class="sertificate-list lightgallery">
                    <div class="sertificate-item">
                        <div class="cut-img">
                            <a href="./img/certificate1.png" target="_blank" class="full-certificate-link">
                                <img src="./img/certificate1.png" alt="Сертификат" class="sertificate-img">
                            </a>
                        </div>
                        <div class="grey-round-square"></div>
                    </div>
                    <div class="sertificate-item">
                        <div class="cut-img">
                            <a href="./img/certificate1.png" target="_blank" class="full-certificate-link">
                                <img src="./img/certificate1.png" alt="Сертификат" class="sertificate-img">
                            </a>
                        </div>
                        <div class="grey-round-square"></div>
                    </div>
                    <div class="sertificate-item">
                        <div class="cut-img">
                            <a href="./img/certificate1.png" target="_blank" class="full-certificate-link">
                                <img src="./img/certificate1.png" alt="Сертификат" class="sertificate-img">
                            </a>
                        </div>
                        <div class="grey-round-square"></div>
                    </div>
                    <div class="sertificate-item">
                        <div class="cut-img">
                            <a href="./img/certificate1.png" target="_blank" class="full-certificate-link">
                                <img src="./img/certificate1.png" alt="Сертификат" class="sertificate-img">
                            </a>
                        </div>
                        <div class="grey-round-square"></div>
                    </div>
                </div>
            </div>
            <div class="complaints-form">
                <div class="blue-container">
                    <div class="padding-container">
                        <h2 class="title-h2">
                            Форма подачи жалоб <br> и предложений
                        </h2>
                        <div class="order-column">
                            <form action="#" class="order-form" data-clear="true">
                                <input type="hidden" name="mode" value="modal:send:service">
                                <div class="form-order-row">
                                    <div class="form-order-column">
                                        <div class="form-order-wrap-input wrap-input">
                                            <input type="text" placeholder="Ваши ФИО" name="form[name]"
                                                data-required="true" class="input-data">
                                        </div>
                                        <div class="form-order-wrap-input wrap-input">
                                            <input type="tel" placeholder="Телефон" name="form[phone]"
                                                data-required="true" class="input-data" inputmode="text">
                                        </div>
                                        <div class="form-order-wrap-input wrap-input">
                                            <input type="email" placeholder="E-mail" name="form[email]"
                                                data-required="true" class="input-data">
                                        </div>
                                    </div>
                                    <div class="form-order-wrap-input wrap-input">
                                        <textarea name="form[comment]" placeholder="Описание жалобы"
                                            data-required="true" class="input-data"></textarea>
                                    </div>
                                </div>
                        </div>
                        <div class="form-order-group">
                            <label class="form-order-checkbox">
                                Согласен на обработку персональных данных в соответствии с <a href="#"
                                    rel="nofollow">Политикой конфиденциальности</a>
                            </label>
                            <button type="submit" class="form-order-submit main-btn animButton"
                                data-content="Отправить">Отправить</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>