<section class="facts-numbers white-text p-negative">
    <div class="container">
        <div class="facts-container flex-column">
            <div class="facts-header title-h2">
                Факты и цифры
            </div>
            <div class="fact-items">
                <div class="facts-item">
                    <div class="number">
                        <span>22</span>

                        <p>
                            года
                        </p>
                    </div>
                    <div class="fact-header">
                        <span>Опыт</span>
                        <ul class="fact-list">
                            <li>на рынке с 1999 года</li>
                            <li>вертикально интегрированная компания</li>
                            <li>полный технологический цикл производства</li>
                            <li>собственная логистика</li>
                            <li>сертификация FSC</li>
                        </ul>
                    </div>
                </div>
                <div class="facts-item">
                    <div class="number">
                        <span>630</span>
                        <p>
                            работников
                        </p>
                    </div>
                    <div class="fact-header">
                        <span>Команда</span>
                        <ul class="fact-list">
                            <li>более 100 квалифицированных специалистов</li>
                            <li>22 отдела</li>
                            <li>постоянный штат сотрудников</li>
                        </ul>
                    </div>
                </div>
                <div class="facts-item">
                    <div class="number">
                        <span>120</span>
                        <p>
                            компаний
                        </p>
                    </div>
                    <div class="fact-header">
                        <span>Клиенты</span>
                        <ul class="fact-list">
                            <li>длительность сотрудничества более 10 лет</li>
                            <li>минимальные сроки выполнения заказов</li>
                            <li>оперативность ответа на новые запросы</li>
                            <li>личный менеджер для клиента</li>
                        </ul>
                    </div>
                </div>
                <div class="facts-item">
                    <div class="number">
                        <span>2000</span>
                        <p>
                            размеров
                        </p>
                    </div>
                    <div class="fact-header">
                        <span>Продукция</span>
                        <ul class="fact-list">
                            <li>широкий диапазон видов товара</li>
                            <li>индивидуальные размеры</li>
                            <li>разработка упаковки и дизайна</li>
                            <li>широкий спектр применения</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>