<section class="news grid-main">
    <div class="container">
        <div class="news-container">
            <div class="news-group-title">
                <h2 class="title-h2">
                    Наши новости
                </h2>

                <a href="#" class="all-news animate-link --gray">
                    <span>Все новости</span>
                </a>
            </div>

            <div class="news-articles grid-4">
                <div class="articles-navigation">
                    <div class="articles">
                        <div class="news-img-block">
                            <div class="image">
                                <img src="./img/news-img-block.png" alt="Гофроновости и статьи">
                            </div>
                        </div>
                        <h3 class="title-h3">
                            Гофроновости<br> и статьи
                        </h3>
                        <ul class="articles-list">
                            <li><a href="#" class="article-link animate-link --gray"><span>ГОСТы, FEFCO</span></a></li>
                            <li><a href="#" class="article-link animate-link --gray"><span>Словарь терминов</span></a>
                            </li>
                            <li><a href="#" class="article-link animate-link --gray"><span>Вопросы-Ответы</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="news-navigation">

                    <div class="latest-news grid-4">
                        <a href="#" class="news-item">
                            <img src="./img/news-1.png" alt="Отраслевые выставки" class="news-img">
                            <div class="news-item-group">
                                <div class="news-title">
                                    <h4 class="title-h4">
                                        <div class="news-link"><span>Отраслевые выставки</span></div>
                                    </h4>
                                    <div class="news-description">
                                        С 25 по 28 августа 2020 года в МВЦ «Крокус Экспо»
                                        состоится 25-я международная выставка упаковочной индустрии -
                                        Росупак-2020.
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="news-item">
                            <img src="./img/news-2.png" alt="Итоги выставки «Росупак-2011»" class="news-img">
                            <div class="news-item-group">
                                <div class="news-title">
                                    <h4 class="title-h4">
                                        <div class="news-link"><span>Итоги выставки <br>«Росупак-2011»</span></div>
                                    </h4>
                                    <div class="news-description">
                                        С 25 по 28 августа 2020 года в МВЦ «Крокус Экспо»
                                        состоится 25-я международная выставка упаковочной индустрии -
                                        Росупак-2020.
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="news-item">
                            <img src="./img/news-3.png" alt="Рекомендации по штабелированию" class="news-img">

                            <div class="news-item-group">
                                <div class="news-title">
                                    <h4 class="title-h4">
                                        <div class="news-link"><span>Рекомендации по штабелированию</span></div>
                                    </h4>
                                    <div class="news-description">
                                        С 25 по 28 августа 2020 года в МВЦ «Крокус Экспо».
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="news-item">
                            <img src="./img/news-4.png" alt="Драйверов для промышленного роста нет" class="news-img">
                            <div class="news-item-group">
                                <div class="news-title">
                                    <h4 class="title-h4">
                                        <div class="news-link">
                                            <span>
                                                Запахло кризисом.<br> Драйверов для промышленного
                                                роста нет.
                                            </span>
                                        </div>
                                    </h4>
                                    <div class="news-description">
                                        С 25 по 28 августа 2020 года в МВЦ «Крокус Экспо»
                                        состоится 25-я международная выставка упаковочной индустрии -
                                        Росупак-2020.
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>