<section class="partnership grid-main">
    <div class="container">
        <div class="partnership-container">
            <div class="partnership-image">
                <h2 class="title-h2">Длительность сотрудничества</h2>
                <div class="partnership-diagram">
                    <img src="./img/diagram.svg" alt="Длительность сотрудничества" class="image">
                    <div class="diagram-text">
                            <div class="diagram-item">
                                <div class="color-circle"></div> от 5  до 10 лет
                            </div>
                            <div class="diagram-item">
                                <div class="color-circle"></div>от 3 до 5 лет
                            </div>
                            <div class="diagram-item">
                                <div class="color-circle"></div>от 1 до 3 лет
                            </div>
                            <div class="diagram-item">
                                <div class="color-circle"></div>Более 10 лет
                            </div>
                            <div class="diagram-item">
                                <div class="color-circle"></div>до 1 года
                            </div>

                    </div>
                </div>
                
            </div>
            <div class="partnership-text">
                <div class="about-partnership">
                    <p>Мы настроены на длительное сотрудничество, предлагаем заключение долгосрочных контрактов на
                        взаимовыгодных условиях. </p>
                    <p>Гарантируем бесперебойную доставку, составление ежемесячных графиков поставки и возможность
                        отгрузки по датам, согласованным с покупателем. </p>
                    <p>К вашим услугам личный менеджер, бесплатная курьерская доставка образцов и документов.</p>
                </div>
                <div class="our-partners">
                    <div>
                        <h2 class="title-h2">Наши партнеры и клиенты</h2>
                        <p class="grey-text">
                            Среди наших клиентов - крупнейшие производители всего потребительского рынка от
                            ликероводочной промышленности до бытовой техники, от широкого спектра продуктов питания до
                            упаковочных материалов для парфюмерной промышленности.
                        </p>
                        <div class="span-text">
                            <span class="middle-purple-txt">
                                более
                            </span>
                            <span class="big-purple-txt">
                                200
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>