<section class="production grid-main">
    <div class="container">
        <div class="production-container">
            <h2 class="title-h2">
                Продукция
            </h2>
            <div class="production__tab-control">
                <a href="#buyers-choice"
                    class="production__tab-button js-tab active title-h3 animate-link --gray"><span>Гофроупаковка</span>
                </a>
                <a href="#product-discount"
                    class="production__tab-button js-tab title-h3 animate-link --gray"><span>Ролевая
                        продукция</span> </a>
            </div>
            <div class="production__tab-content anim-items anim-no-scrollTop fadeIn">
                <div class="production__tab-item active js-tab-item" id="buyers-choice">
                    <div class="tab">
                        <div class="tab-container">
                            <div class="production-item ">
                                <a href="#" class="item-image-link animate-link --black">
                                    <h4 class="title-h4"><span>Кондитерские изделия</span></h4>
                                </a>
                                <div class="production-image">
                                    <a href="#" class="item-image-link">
                                        <img src="./img/box1.png" alt="Кондитерские изделия" class="item-image">
                                    </a>
                                </div>
                            </div>
                            <div class="production-item ">
                                <a href="#" class="item-image-link">
                                    <h4 class="title-h4 animate-link --black"><span>Канцелярские товары и бумажная
                                            продукция</span></h4>
                                </a>
                                <div class="production-image">
                                    <a href="#" class="item-image-link">
                                        <img src="./img/box2.png" alt="Канцелярские товары и бумажная продукция"
                                            class="item-image">
                                    </a>
                                </div>
                            </div>
                            <div class="production-item ">
                                <a href="#" class="item-image-link">
                                    <h4 class="title-h4 animate-link --black"><span>Косметика</span></h4>
                                </a>
                                <div class="production-image">
                                    <a href="#" class="item-image-link">
                                        <img src="./img/box3.png" alt="Косметика" class="item-image">
                                    </a>
                                </div>
                            </div>
                            <div class="production-item ">
                                <a href="#" class="item-image-link">
                                    <h4 class="title-h4 animate-link --black"><span>Мясная и молочная продукция</span>
                                    </h4>
                                </a>
                                <div class="production-image">
                                    <a href="#" class="item-image-link">
                                        <img src="./img/box4.png" alt="Мясная и молочная продукция" class="item-image">
                                    </a>
                                </div>
                            </div>
                            <div class="production-item ">
                                <a href="#" class="item-image-link">
                                    <h4 class="title-h4 animate-link --black"><span>Интернет-торговля</span></h4>
                                </a>
                                <div class="production-image">
                                    <a href="#" class="item-image-link">
                                        <img src="./img/box5.png" alt="Интернет-торговля" class="item-image">
                                    </a>
                                </div>
                            </div>
                            <div class="production-item ">
                                <a href="#" class="item-image-link">
                                    <h4 class="title-h4 animate-link --black"><span>Любые другие товары</span></h4>
                                </a>
                                <div class="production-image">
                                    <a href="#" class="item-image-link">
                                        <img src="./img/box6.png" alt="Любые другие товары" class="item-image">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="production__tab-item js-tab-item" id="product-discount">
                    <div class="tab">
                        <div class="tab-container">
                            <div class="production-item">
                                <a href="#" class="item-image-link animate-link --black">
                                    <h4 class="title-h4"><span>Картон для плоских слоев</span></h4>
                                </a>
                                <div class="production-image">
                                    <a href="#" class="item-image-link">
                                        <img src="./img/box7.png" alt="Кондитерские изделия" class="item-image">
                                    </a>
                                </div>
                            </div>
                            <div class="production-item">
                                <a href="#" class="item-image-link animate-link --black">
                                    <h4 class="title-h4"><span>Бумага для гофрирования</span></h4>
                                </a>
                                <div class="production-image">
                                    <a href="#" class="item-image-link">
                                        <img src="./img/box8.png" alt="Канцелярские товары и бумажная продукция"
                                            class="item-image">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>