<section class="seo-text grid-main @@className">
  <div class="container">
    <div class="seo-container">
      <h1 class="title-h1">Заголовок H1 для SEO</h1>
      <div class="grey-text">
        <p>Компания <strong>«ГеоПак»</strong> выпускает гофроупаковку с 1999 года. Собственное производство
          гофрокартона располагается в 37км от Москвы по Ярославскому шоссе - городе Красноармейск.
        </p>
        <p>Основные производственные мощности предприятия изначально обеспечили изготовление <strong>полного</strong>
          технологического цикла <strong>производства гофротары</strong> от выпуска <strong>гофрокартона</strong> до
          широкого ассортимента <strong>гофрокоробов</strong> и других изделий.
        </p>
        <p>Основные наши клиенты - это крупные производственные предприятия- производители товаров народного
          потребления. И поэтому мы обращаем внимание на удобство работы и быстроту обслуживания заказов, гарантии
          качества и стабильность поставок.
        </p>
      </div>
    </div>
</section>