<section class="technology">
    <div class="container">
        <div class="technology-wrap">
            <div class="technology-row">
                <div class="technology-column">
                    <div class="technology-title title-h2">Технологии производства<br> гофрокартона</div>

                    <div class="technology-text">
                        <p>Производство гофрокартона из целлюлозного сырья налажено с 1999 года и наряду с изготовлением
                            <span>гофроупаковки</span> является основным направлением деятельности компании ГеоПак.
                        </p>

                        <div class="technology-text-row">
                            <div class="technology-text-column">
                                <iframe src="https://www.youtube.com/embed/dl16e_mG6hg" frameborder="0"></iframe>
                            </div>

                            <div class="technology-text-column">
                                <p>Возможности оборудования позволяют изготавливать листовой гофрокартон любых размеров
                                    (форматов). Рилевки наносятся бесплатно, по желанию заказчика.</p>

                                <ul class="list-check">
                                    <li>Трехслойный картон марок Т-22, Т-23, Т-24</li>
                                    <li>Пятислойный картон П-32</li>
                                    <li>Картон с профилем гофры B, C и B+C</li>
                                </ul>

                                <div class="technology-text-item">
                                    <div class="technology-text-image"><img src="./img/image-technology-1.png" alt="">
                                    </div>
                                    <p>Любой покровный слой: бурый, белый, облачный</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="technology-column">
                    <div class="technology-card card-technology">
                        <div class="card-technology-name">
                            <span class="card-technology-name-icon"></span> Почему мы
                        </div>
                        <div class="card-technology-text">
                            <ul class="list-check">
                                <li>Гофрированный картон производится на современном гофроагрегате</li>
                                <li>Для производства мы используем высококачественное целлюлозное сырье (Пермь,
                                    Сыктывкар, Котлас)</li>
                                <li>Непрерывно осуществляем 3-х ступенчатый контроль качества продукции</li>
                                <li>Картон соответствует ГОСТ и отвечает всем санитарно-гигиеническим нормам</li>
                                <li>Высокое качество продукции, гофрокартон соответствует заявленным маркам</li>
                                <li>Сроки поставки от 3 до 5 дней!</li>
                                <li>Круглосуточная отгрузка</li>
                                <li>Стабильная работа и выполнение своих обещаний</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>