<section class="vacancy">
    <div class="container">
        <div class="vacancy-wrap">


            <form action="#" class="vacancy-search search-vacancy">
                <div class="search-vacancy-group">
                    <div class="search-vacancy-select">
                        <select name="">
                            <option value="Выберите точку самовывоза">Все города</option>

                            <option value="Выберите точку самовывоза">Город 1</option>

                            <option value="Выберите точку самовывоза">Город 1</option>

                            <option value="Выберите точку самовывоза">Город 1</option>
                        </select>
                    </div>

                    <div class="search-vacancy-select">
                        <select name="">
                            <option value="Выберите точку самовывоза">Все категории</option>

                            <option value="Выберите точку самовывоза">Категория 1</option>

                            <option value="Выберите точку самовывоза">Категория 2</option>

                            <option value="Выберите точку самовывоза">Категория 3</option>
                        </select>
                    </div>
                </div>

                <button type="submit" class="search-vacancy-button main-btn animButton --blue"
                    data-content="Найти">Найти</button>
            </form>

            <div class="vacancy-caption">
                <div class="vacancy-caption-name">Должность</div>
                <div class="vacancy-caption-name">Город</div>
                <div class="vacancy-caption-name">Описание</div>
            </div>

            <div class="vacancy-list">
                <div class="vacancy-item card-vacancy">
                    <div class="card-vacancy-group-one" data-name="Должность">
                        <div class="card-vacancy-name"><a href="#">Супервайзер (временная позиция)</a></div>

                        <div class="card-vacancy-category">
                            <span class="card-vacancy-category-name">Категория вакансии</span>
                            <span class="card-vacancy-category-value">Техническое обслуживание</span>
                        </div>
                    </div>

                    <div class="card-vacancy-group-two" data-name="Город">
                        <div class="card-vacancy-city">Красноармейск</div>
                    </div>

                    <div class="card-vacancy-group-three" data-name="Описание">
                        <div class="card-vacancy-text">
                            <ul class="list-check">
                                <li>Требуемый опыт работы: 3–6 лет.</li>
                                <li>Полная занятость, полный день.</li>
                                <li>Ключевые навыки: штатное расписание; кадровое делопроизводство; 1C: Зарплата и
                                    кадры; трудовое законодательство РФ; график отпусков; кадры.</li>
                            </ul>
                        </div>

                        <a href="#" class="card-vacancy-button main-btn animButton"
                            data-content="Откликнуться">Откликнуться</a>
                    </div>
                </div>

                <div class="vacancy-item card-vacancy">
                    <div class="card-vacancy-group-one" data-name="Должность">
                        <div class="card-vacancy-name"><a href="#">Специалист по кадровому администрированию
                                (делопроизводству)</a>
                        </div>

                        <div class="card-vacancy-category">
                            <span class="card-vacancy-category-name">Категория вакансии</span>
                            <span class="card-vacancy-category-value">Техническое обслуживание</span>
                        </div>
                    </div>

                    <div class="card-vacancy-group-two" data-name="Город">
                        <div class="card-vacancy-city">Москва</div>
                    </div>

                    <div class="card-vacancy-group-three" data-name="Описание">
                        <div class="card-vacancy-text">
                            <ul class="list-check">
                                <li>Требуемый опыт работы: 3–6 лет.</li>
                                <li>Полная занятость, полный день.</li>
                                <li>Ключевые навыки: штатное расписание; кадровое делопроизводство; 1C: Зарплата и
                                    кадры; трудовое законодательство РФ; график отпусков; кадры.</li>
                            </ul>
                        </div>

                        <a href="#" class="card-vacancy-button main-btn animButton"
                            data-content="Откликнуться">Откликнуться</a>
                    </div>
                </div>

                <div class="vacancy-item card-vacancy">
                    <div class="card-vacancy-group-one" data-name="Должность">
                        <div class="card-vacancy-name"><a href="#">Финансовый координатор</a></div>

                        <div class="card-vacancy-category">
                            <span class="card-vacancy-category-name">Категория вакансии</span>
                            <span class="card-vacancy-category-value">Техническое обслуживание</span>
                        </div>
                    </div>

                    <div class="card-vacancy-group-two" data-name="Город">
                        <div class="card-vacancy-city">Кондрово</div>
                    </div>

                    <div class="card-vacancy-group-three" data-name="Описание">
                        <div class="card-vacancy-text">
                            <ul class="list-check">
                                <li>Требуемый опыт работы: 3–6 лет.</li>
                                <li>Полная занятость, полный день.</li>
                                <li>Ключевые навыки: штатное расписание; кадровое делопроизводство; 1C: Зарплата и
                                    кадры; трудовое законодательство РФ; график отпусков; кадры.</li>
                            </ul>
                        </div>

                        <a href="#" class="card-vacancy-button main-btn animButton"
                            data-content="Откликнуться">Откликнуться</a>
                    </div>
                </div>

                <div class="vacancy-item card-vacancy">
                    <div class="card-vacancy-group-one" data-name="Должность">
                        <div class="card-vacancy-name"><a href="#">Супервайзер (временная позиция)</a></div>

                        <div class="card-vacancy-category">
                            <span class="card-vacancy-category-name">Категория вакансии</span>
                            <span class="card-vacancy-category-value">Техническое обслуживание</span>
                        </div>
                    </div>

                    <div class="card-vacancy-group-two" data-name="Город">
                        <div class="card-vacancy-city">Красноармейск</div>
                    </div>

                    <div class="card-vacancy-group-three" data-name="Описание">
                        <div class="card-vacancy-text">
                            <ul class="list-check">
                                <li>Требуемый опыт работы: 3–6 лет.</li>
                                <li>Полная занятость, полный день.</li>
                                <li>Ключевые навыки: штатное расписание; кадровое делопроизводство; 1C: Зарплата и
                                    кадры; трудовое законодательство РФ; график отпусков; кадры.</li>
                            </ul>
                        </div>

                        <a href="#" class="card-vacancy-button main-btn animButton"
                            data-content="Откликнуться">Откликнуться</a>
                    </div>
                </div>

                <div class="vacancy-item card-vacancy">
                    <div class="card-vacancy-group-one" data-name="Должность">
                        <div class="card-vacancy-name"><a href="#">Специалист по кадровому администрированию
                                (делопроизводству)</a>
                        </div>

                        <div class="card-vacancy-category">
                            <span class="card-vacancy-category-name">Категория вакансии</span>
                            <span class="card-vacancy-category-value">Техническое обслуживание</span>
                        </div>
                    </div>

                    <div class="card-vacancy-group-two" data-name="Город">
                        <div class="card-vacancy-city">Москва</div>
                    </div>

                    <div class="card-vacancy-group-three" data-name="Описание">
                        <div class="card-vacancy-text">
                            <ul class="list-check">
                                <li>Требуемый опыт работы: 3–6 лет.</li>
                                <li>Полная занятость, полный день.</li>
                                <li>Ключевые навыки: штатное расписание; кадровое делопроизводство; 1C: Зарплата и
                                    кадры; трудовое законодательство РФ; график отпусков; кадры.</li>
                            </ul>
                        </div>

                        <a href="#" class="card-vacancy-button main-btn animButton"
                            data-content="Откликнуться">Откликнуться</a>
                    </div>
                </div>

                <div class="vacancy-item card-vacancy">
                    <div class="card-vacancy-group-one" data-name="Должность">
                        <div class="card-vacancy-name"><a href="#">Финансовый координатор</a></div>

                        <div class="card-vacancy-category">
                            <span class="card-vacancy-category-name">Категория вакансии</span>
                            <span class="card-vacancy-category-value">Техническое обслуживание</span>
                        </div>
                    </div>

                    <div class="card-vacancy-group-two" data-name="Город">
                        <div class="card-vacancy-city">Кондрово</div>
                    </div>

                    <div class="card-vacancy-group-three" data-name="Описание">
                        <div class="card-vacancy-text">
                            <ul class="list-check">
                                <li>Требуемый опыт работы: 3–6 лет.</li>
                                <li>Полная занятость, полный день.</li>
                                <li>Ключевые навыки: штатное расписание; кадровое делопроизводство; 1C: Зарплата и
                                    кадры; трудовое законодательство РФ; график отпусков; кадры.</li>
                            </ul>
                        </div>

                        <a href="#" class="card-vacancy-button main-btn animButton"
                            data-content="Откликнуться">Откликнуться</a>
                    </div>
                </div>
            </div>

            <div class="vacancy-pagination pagination">
                <div class="pagination-list">
                    <div class="pagination-item --prev"><a href="#"></a></div>
                    <div class="pagination-item --number current"><a href="#">1</a></div>
                    <div class="pagination-item --number"><a href="#">2</a></div>
                    <div class="pagination-item --number"><a href="#">3</a></div>
                    <div class="pagination-item --number"><a href="#">4</a></div>
                    <div class="pagination-item --dots"><span>...</span></div>
                    <div class="pagination-item --number"><a href="#">10</a></div>
                    <div class="pagination-item --next"><a href="#"></a></div>

                </div>

                <div class="pagination-all">
                    <span>1 - 8</span>
                    из
                    <span>233</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="career">
    <div class="container">
        <div class="career-wrap">

            <div class="career-image-bg">
                <img src="./img/image-bg-career.png" alt="">
            </div>

            <div class="career-row">
                <div class="career-column">
                    <div class="career-title title-h2">карьера в Geopack</div>

                    <div class="career-text">
                        <p>
                            Наша команда работает согласованно и эффективно. Исполнительность, нацеленность на улучшение
                            результатов, качественное выполнение личных профессиональных задач, которые позволяют
                            достигать лучших результатов в работе всей компании.
                        </p>
                    </div>
                </div>

                <div class="career-column">
                    <div class="career-name">Нужна работа?</div>

                    <div class="career-text">
                        <p>
                            подробная информация по телефону
                        </p>
                    </div>

                    <a href="tel:+74992132016" class="career-phone animate-link --white"><span> +7 (499)
                            213-20-16</span></a>
                </div>
            </div>
        </div>
    </div>
</section>