.certification {
	padding: 119px 0 118px 0;
	& .certification-container {
		display: grid;
		grid-template-columns: 0.773fr 1fr;
		grid-gap: 60px;
		& .sertificates {
		}
		& .title-h2 {
			margin-bottom: 46px;
		}
		& .sertificate-list {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-column-gap: 30px;
			grid-row-gap: 36px;
			& .sertificate-item {
				display: flex;
				flex-direction: column;
				justify-content: center;
				position: relative;
				& .cut-img {
					height: 200px;
					overflow: hidden;
					z-index: 10;

					& .full-certificate-link {
						height: 100%;
						display: block;
					}

					& .sertificate-img {
						width: 178px;
						height: 100%;
						object-fit: cover;
						object-position: top;
						display: block;
						margin-left: auto;
						margin-right: auto;
						transition: all 0.3s ease;
						&:hover,
						&:active {
							transform: scale(1.02);
						}
					}
				}
				& .grey-round-square {
					position: absolute;
					width: 100%;
					height: 170px;
					left: 50%;
					transform: translate(-50%, 0);
					bottom: 0;
					background: #f8f8fa;
					border-radius: 25px;
				}
			}
		}

		& .complaints-form {
			& .blue-container {
				background: #484d97;
				border-radius: 4px;
				& .title-h2 {
					color: #fff;
					margin-bottom: 37px;
				}
				& .padding-container {
					padding: 44px 46px 43px 45px;
					& .form-order-row {
						display: grid;
						grid-template-columns: 1fr 1fr;
						grid-gap: 20px;
						margin-bottom: 36px;
						& .form-order-column:first-child {
							display: grid;
							grid-gap: 25px;
						}
						& .form-order-wrap-input {
							height: 100%;
						}

						& .wrap-input input {
							width: 100%;
							padding: 22px 25px;
							font-size: 14px;
							line-height: 1.2;
							border-radius: 4px;
							background: #404590;
							&::placeholder {
								color: #fff;
								opacity: 0.6;
							}
						}

						& .wrap-input textarea {
							width: 100%;
							height: 100%;
							min-height: 150px;
							resize: none;
							padding: 21px 25px;
							font-size: 14px;
							line-height: 1.2;
							border-radius: 4px;
							background: #404590;
							&::placeholder {
								color: #fff;
								opacity: 0.5;
							}
						}

						& .input-data {
							color: #fff;
						}
					}

					& .form-order-group {
						display: grid;
						grid-template-columns: 1fr 1fr;
						grid-gap: 20px;
						& .form-order-checkbox {
							margin-right: 20px;
							max-width: 259px;
							color: rgba(255, 255, 255, 0.5);
							font-size: 12px;
							line-height: 1.5;
							& a {
								color: rgba(255, 255, 255, 1);
								font-size: 12px;
								line-height: 1.5;
								border-bottom: 1px solid #fff;
								transition: all 0.3s ease;
								&:hover {
									border-color: transparent;
								}
							}
						}
						& .main-btn {
							display: inline-block;
							position: relative;
							text-align: left;
							text-align: center;
							width: 100%;
							padding: 19px 80px;
							font-weight: 600;
							color: #484d97;
							background: #ffffff;
							border: 1px solid transparent;
							border-radius: 4px;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 1500px) {
	.certification .certification-container .complaints-form .blue-container .padding-container .form-order-row {
		grid-template-columns: 1fr;
	}

	.certification .certification-container .complaints-form .blue-container .padding-container .form-order-group {
		grid-template-columns: 1fr;
		justify-items: center;
	}

	.certification .certification-container .complaints-form .blue-container .padding-container .form-order-group .form-order-checkbox {
		margin-right: 0;
		margin-bottom: 20px;
		text-align: center;
		max-width: initial;
	}

	.certification .certification-container .complaints-form .blue-container .padding-container .form-order-group .main-btn {
		max-width: 230px;
	}
}

@media (max-width: 1170px) {
	.certification .certification-container {
		grid-template-columns: 1fr;
		grid-gap: 30px;
	}

	.certification .certification-container .sertificate-list {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (max-width: 900px) {
	.certification .certification-container .sertificate-list .sertificate-item .grey-round-square {
		width: 70%;
	}

	.certification .certification-container .sertificate-list {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 768px) {
	.certification {
		padding: 40px 0;
	}

	.certification .certification-container .sertificate-list .sertificate-item .grey-round-square {
		width: 100%;
	}

	.certification .certification-container .title-h2 {
		margin-bottom: 20px;
	}

	.certification .certification-container .complaints-form .blue-container .title-h2 {
		margin-bottom: 20px;
	}
}

@media (max-width: 500px) {
	.certification .certification-container .complaints-form .blue-container .padding-container .form-order-group .form-order-checkbox {
		margin-bottom: 10px;
	}

	.certification .certification-container .complaints-form .blue-container .padding-container {
		padding: 15px;
	}
}
